@mixin ui-checkbox-group {
  ._ui-checkbox-group {
  }
}

@mixin ui-checkbox {
  ._ui-checkbox {
    display: inline-flex;
    align-items: center;
    padding-right: pxRem(10);
    color: #666;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }


    &.checked {
      .checkbox-icon {
        border-color: #4cd864;
        i {
          visibility: visible;
          color: #4cd864;
        }
      }
    }

    &.disabled {
      @include disabled;
    }

    .checkbox-icon {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      z-index: 1;
      pointer-events: none;

      width: pxRem(20);
      height: pxRem(20);
      margin-right: pxRem(3);


      i {
        font-size: pxRem(14);
        line-height: 0;
        width: 0;
        height: 0;
        visibility: hidden;

        transition: all .2s ease-in-out;
      }
    }
    .checkbox-text {
      margin-left: 1px;
      font-size: pxRem(13);
      color: #666;
      pointer-events: none;
    }
  }
}

