@mixin ui-radio-group {
}

@mixin ui-radio {
  ._ui-radio {
    display: inline-flex;
    align-items: center;
    padding-right: pxRem(10);
    color: #666;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }


    &.checked {
      .radio-icon {
        border-color: #4cd864;
        i {
          background: #4cd864;
        }
      }

    }

    &.disabled {
      @include disabled;
    }

    .radio-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 50%;
      z-index: 1;
      pointer-events: none;

      width: pxRem(20);
      height: pxRem(20);
      margin-right: pxRem(3);


      i {
        display: inline-block;
        width: pxRem(8);
        height: pxRem(8);
        border-radius: pxRem(4);

        transition: all .3s ease-in-out;
      }
    }
    .radio-text {
      margin-left: 1px;
      font-size: pxRem(15);
      color: #666;
      pointer-events: none;
    }
  }
}

