@mixin disabled {
  cursor: default;
  opacity: .3;
  &:active {
    opacity: .3;
  }
}

@mixin tap {
  cursor: pointer;
  &:active {
    opacity: .5;
  }
}

@mixin dialog-mask {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
}
