$color-page-bg: #f5f5f5;
$color-page-main: #fff;

$color-text-default: #484746;

$color-primary: #26a2ff;
$color-danger: #ef4f4f;
$color-warning: #ffb400;
$color-white: #fff;
$color-stable: #f5f5f5;
$color-disable: #ccc;
$color-dark: #484746;
$color-hollow: rgba(0, 0, 0, 0); // 镂空
$color-default: #f6f8fa;
